body{
    background: rgb(245, 239, 223);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
}

header {
    background: rgb(245, 239, 223);
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

nav {
    background: white;
    padding: 5px;
    border-style: solid;
    text-align: center;

    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    background: white;
    text-align: center;
    border-style: solid;
    border: 4px solid rgb(0, 0, 0);
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    margin: auto;
    
}
.menu {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    

}

.menu:hover{
    background:rgb(245, 239, 223);

    border: 4px solid rgb(0, 0, 0);
    padding: 1%;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

footer {
    color: black;
    letter-spacing: 2px;
    background: white;
    text-align: center;
    font-weight:lighter;
    border: 4px solid rgb(0, 0, 0);
    padding: 2px;
    width: 25%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    margin: auto;

}

section {
    padding: 30px;
}
.text-color {
    color: rgb(0, 0, 0);
}

